html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

nav {
    width: 100%;
    padding: 0%;
    height: fit-content;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 50%;
    height: fit-content;
    display: flex;
    padding: 0%;
    margin: 0.5%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    width: 33.33%;
    height: 100%;
    color: white;
    font-family: sans-serif;
    justify-content: center;
    font-size: 120%;
    list-style-type: none
}

nav ul li a,
nav ul li h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    font-style: unset;
    text-decoration: none;
    marker-start: none;
}

.cart-container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
}

.cart-items {
    width: 80%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.cart-total {
    width: 20%;
    height: fit-content;
}

.cart-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px 0px 2px 2px solid rgb(255, 252, 252);
    margin-top: 5%;
}

.cart-item h2,
h3,
p {
    color: white;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.cart-item-image {
    width: 50px;
    height: auto;
}

.cart-items-container {
    width: 60%;
    height: fit-content;
    justify-content: center;
    margin-top: 5%;
    border-bottom: 2px solid rgb(206, 204, 204);
    border-right: 4px solid rgb(204, 202, 202);
    padding: 2%;
    border-style: outset;
}

.cart-items-container h2 {
    color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    margin-bottom: 5%;

}

.cart-div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-summary {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-checkout-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-checkout-item h3 {
    color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: medium;
    margin: 5% 0%;
}

.cart-checkout-summary {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px 0px 2px 2px solid rgb(255, 252, 252);
    padding-left: 10%;
    padding-right: 10%;
}

.total-amount {
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.cart-summary h2 {
    color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    margin-top: 27.5%;

}

.checkout-button {
    padding: 5pxpx;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: oldlace;
}

.total-amount-div {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
}