html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 25, 25);
    border: 10px rgba(193, 192, 192, 0.854);
    border-radius: 50px;
    padding-bottom: 4%;
    border-style: inset;

}

.main-div:hover {
    width: 38%;
    height: 70%;
    transition: 0.4s;
}

.main-div label {
    width: fit-content;
    height: fit-content;
    color: rgba(240, 248, 255, 0.836);
    font-family: sans-serif;
    margin: 3% 40% 3% 0%;
    font-size: small;
}

.main-div h1 {
    color: rgba(240, 248, 255, 0.822);
    font-family: sans-serif;
    font-weight: 200;

}

.main-div input {
    width: 55%;
    border: 4px inset rgba(130, 124, 124, 0.781);
    padding: 5px;
    border-radius: 10px;
    height: 10%;
}

.main-div button {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-top: 10%;
    border: 5px inset rgb(225, 225, 225);
    font-family: sans-serif;
    border-radius: 5px;
}